
<head><!doctype html>
<title>Flaskr</title>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #808080;">
    
  <header class="fixed-top" style="height: 10em;background-color: red;">
    <div class="container">
    <h1>Marvel Hero Search</h1>
  
  <form action="/search" method="post">
    <label for="search ">Search Hero</label>
    <input name="hero" id="search" value="{{search}}" required>
    <input type="submit" value="Search">
  </form>
</div>
</header>
<section class="container" style="padding-top: 10em;" >
  {% block content %}{% endblock %}
</section>
    
</body>