{% extends 'base.html' %}

{% block content %}

  {% for hero in heros%}
       <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src= {{hero['thumbnail']['path']}}.jpg class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="\hero\{{hero['id']}}"><h5 class="card-title">{{hero['name']}}</a></h5>
            <p class="card-text">{{hero['id']}}
             
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}  
{% endblock %}